/* Place custom styles below */
html, body{
    width:100%;
    text-align:left;
}

#AppPartHeader{
    color: black;
    background-color: darkgray;
    text-align:left;
}

#weatherIcon {
    width: 300px;
    height: 100px;
}

.forcastImg {
    width: 66px;
    height: 46px;
}

.forcast {
    display: inline-block;
    padding:5px 5px 0 5px;
}

#AppPartContent {
    text-align:center;
}

#AppPartFooter{
    margin-top: 20px;
}

#AppPartFooter>*{
    border: 2px solid black;
    border-radius:5px;
}

.minTemp{
    color: red;
}
.maxTemp{
    color: green;
}