/* Place custom styles below */
#AppPartHeader{
    color: black;
    background-color: darkgray;
}

#weatherIcon {
    width: 300px;
    height: 100px;
}

.forcastImg {
    width: 66px;
    height: 46px;
}

.forcast {
    display: inline-block;
}

#AppPartBody {
    text-align: center;
}